* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}



/*Header*/
#logo {
    width: 30%;
    margin: .5em 0 0 .5em;
}

#zoeken {
    width: 8%;
    margin: .5em 0 0 12em;
}

#profiel {
    width: 8%;
    margin: 0.2em 0 0 1em;
}

/*Navigatie/filter*/
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 1em;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: black;
    font-family: 'Titillium Web', sans-serif;
}

nav ul li a:hover {
    color: #80CC27;
}

nav ul li a:active {
    /*wat voor :... moet hier komen om daarvoor te zorgen*/
}

/*H1*/
h1 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.4em;
    margin: .25em;
}

/*Article 1*/
article {
    width: 92%;
    background-color: #E8E7E7;
    border-radius: 5px;
    margin: 1em
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1em;
    margin: .25em 1em
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.85em;
    margin: .25em 1em 1em;
}

main article a img {
    width: 100%;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

/*Slideshow*/
article div {
    border-radius: 5px 5px 0 0
}


#slideshow {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

div img {
    width: 100%;
    flex-shrink: 0;
}

div h2 {
    font-size: 2em;
    margin: 10em
}
