* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*Header*/
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header nav ul {
    margin: .5em;
    padding: 0;
    display: flex;
    /*    flex-direction: row;*/
}


#logo {
    width: 30%;
    margin: 0;
    padding: 0;
    right: auto;
}

#zoeken {
    width: 60%;
}

#profiel {
    width: 60%;
}

/*filter*/
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    background-color: #e8e7e7;
    padding: .5em 1em;
    border-radius: 5px;
}

#filter {
    margin: 1em;
}

form input {
    visibility: hidden;
    margin: -3.5em;
}

form label {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    margin: 0;

}

form label:hover {
    color: #91c34c;
}

form label:focus {
    text-decoration: underline;
}

/*Evenementen vinden*/
h1 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.4em;
    margin: .25em;
}

/*Evenementen*/


article {
    width: 92%;
    background-color: #E8E7E7;
    border-radius: 5px;
    margin: 1em;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1em;
    margin: .25em 1em;
    padding: .1em 0 0.1em
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.85em;
    margin: .25em 1em 1em;
    padding: 0 0 0.5em;
}

main article a img {
    width: 100%;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

/*Slideshow*/
article div {
    border-radius: 5px;
}

#slideshow {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

div img {
    width: 100%;
    flex-shrink: 0;
}

/*Mediaqueries*/

@media (min-width:40em) {
    #logo {
        max-width: 30em;
    }

    #zoeken {
        max-width: 4em;
    }

    #profiel {
        max-width: 4em;
    }

    form {
        max-width: 30em;
    }

    #filter {
        margin: auto;

    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*Bron: https://css-tricks.com/snippets/css/complete-guide-grid/*/
    main article:nth-of-type(5) {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 1;

    }
}

@media (min-width:60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 75em) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
